@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import url("https://use.typekit.net/imi8rlr.css"); */

@font-face {
    font-family: 'Aileron';
    src: url('./assets/fonts/Aileron-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Aileron';
    src: url('./assets/fonts/Aileron-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'Aileron';
    src: url('./assets/fonts/Aileron-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* @font-face {
    font-family: 'Aileron';
    src: url('./assets/fonts/Aileron-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.parallax {
    @apply relative overflow-hidden bg-fixed bg-cover bg-center;
  }

  .parallax::after {
    content: "";
    @apply absolute inset-0 bg-fixed bg-cover bg-center;
    background-image: url('/path/to/your/image.jpg'); /* Add your static image URL */
    transform: translateZ(0);
    will-change: transform;
    z-index: -1; /* Make sure it stays behind other content */
  }
  
body {
background-color: #000;
color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Aileron", sans-serif;
font-weight: 400;
font-style: normal;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
